@tailwind base;
@tailwind components;
@tailwind utilities;


@layer{
    :root{
        --color_1: #3A3A3A;
        --color_2: #E02C6D;
        --color_3: #1B1B1B;
        --color_4: rgba(241, 228, 255, 0.6);
    }
}